#forgot {
    color: #0074d9;
    cursor: pointer;
}

.main-body {
    display: flex;
    flex-direction: column;
}
.details-card{
    max-width: 1200px;
}
.main, main{
    min-height: 49.7vh;
}
.modal-discription{
    font-size: 20px;
}
.modal-rating,
.modal-stock,
.modal-review{
    font-size: 18px;
}
.review-box{
    width: 17%;
}
.card{
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.306);
}

.header {
    height: 70px;
}

#signup:hover,
#login:hover {
    cursor: pointer;
}

#back-to-login:hover {
    cursor: pointer;
    color: #0074d9 !important;
}

#back-to-login {
    font-size: 17px;
    color: black !important;
}

.input-control.error input {
    border-color: #ff3860 !important;
}

.input-control .error {
    color: #ff3860;
    font-size: 11px;
    height: 5px;
}

.logo {
    width: 155px;
    height: 55px;
}

.home_logo {
    width: 140px;
    height: 60px;
}

#nav_button {
    align-items: flex-end;
}

.active,
.menu_item:hover {
    color: #0074d9 !important;
    border-bottom: 2px solid #0074d9;
}

.slide_img {
    width: 100%;
}

.fa-eye-slash {
    cursor: pointer;
    color: black;
}

.input-group-text {
    padding: 10px;
    height: 37.6px;
    margin-top: 4px;
}

.logpassword {
    height: 37.6px;
}

#sitename {
    font-family: sans-serif;
}

.li_hover:hover {
    color: black !important;
    cursor: pointer;
}

.border-bottom {
    width: auto;
    border-bottom: 2px solid !important;
}

.topbtn {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: solid black;
    border-radius: 50% !important;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.fa-long-arrow-up {
    margin-left: 13px;
    font-size: x-large;
    margin-top: 5.5px;
}

.product-list {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.price-container {
    bottom: 10px;
    width: 83%;
}

#toast-container > div {
    opacity: 0.9;
}
.toast {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.toast-error {
    background-color: #dc3545;
    color: #fff;
}
.toast-success {
    background-color: #28a745;
    color: #fff;
}
.toast-warning {
    background-color: goldenrod;
    color: #fff;
}
.ui-widget-header{
    background-color: goldenrod;
    color: #fff;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .yescls
{
    font-size:15px;
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    width: 100px;
    background: #90C93E;
    
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .nocls
{
    font-size:15px;
    border: 0px;
    padding: 5px;
    border-radius: 15px;
    color: #FFFFFF;
    width: 100px;
    background: #F86379;
    
}

.blog-date{
    font-size: 14px;
    font-family: 'League Spartan', sans-serif;
}
.blog-heading{
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.blog-text{
    font-size: 22px;
    text-align: justify;
    font-family: 'League Spartan', sans-serif;
}
#blog-btn{
    font-size: 19px;
    font-family: 'League Spartan', sans-serif;
}
.contact-input{
    font-family: 'League Spartan', sans-serif;
    width: 700px;
    min-width: 400px;
    border-radius: 5px;
    border: 1px solid #0074d9;
}
.contact-us{
    font-family: 'League Spartan', sans-serif;
}
.contact-heading,
.contact-field{
    font-weight: bold;
    font-size: 18px;
}
.contact-text{
    font-size: 18px;
}
.contact-btn{
    font-family: 'League Spartan', sans-serif;
    width: 700px;
    min-width: 400px;
    font-size: 18px;
}
.social-media{
    font-size: 19px;
    color: black;
}
.contact-msg{
    height: 120px;
    font-family: 'League Spartan', sans-serif;
    width: 700px;
    min-width: 400px;
    border-radius: 5px;
    border: 1px solid #0074d9;
}
.contact-detail:hover{
    color: #0074d9 !important;
    cursor: pointer;
}
.filters-name {
    font-size: 13px;
    font-weight: 500;
  }

  .cat,
  .price {
    list-style: none;
    font-size: 13px;
  }

  .cat-type:hover,
  .price-type:hover {
    font-weight: 500;
    cursor: pointer;
  }

  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active_page {
    background-color: #0074d9;
    ;
    color: white;
  }

  .pagination a:hover:not(.active_page) {
    background-color: #ddd;
  }
@media (max-width: 992px) and (min-width: 768px) {
    #mainborder {
        margin-top: 90px !important;
    }

    #login_part,
    #signup_part,
    #reset_name {
        margin-top: 0px !important;
    }

    #login_img {
        margin-top: 30px;
    }

    #mainborder_signup {
        margin-top: 3px !important;
    }

    #signup_img {
        margin-top: 70px;
    }

    #mainborder_forgot_password {
        margin-top: 110px !important;
    }

    #forgot_password_name {
        margin-top: 0px !important;
        padding-top: 10px !important;
    }

    #mainborder_reset_password {
        margin-top: 130px !important;
    }
}

@media (max-width: 768px) {

    #mainborder,
    #mainborder_signup,
    #mainborder_forgot_password,
    #mainborder_reset_password {
        margin-top: 10px !important;
    }

    #login_part,
    #forgot_password_part,
    #reset_part,
    #signup_part {
        padding-left: 0px !important;
        margin-top: 10px !important;
    }
}